<!DOCTYPE html>
<html lang="en-us">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Yaniv Ben Zaken says hello</title>
        <style type="text/css">
            {% include 'css/index.css' %}
        </style>
    </head>
    <body>
        <div class="vertical_aligner"></div>
        <img src="{{ 'index/title.png' | static }}" height="104" width="368" class="title_image">
    </body>
</html>
